// @import "styles/mixins.scss";
@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bungee&family=Dancing+Script:wght@700&family=Fredoka+One&family=Hubballi&family=Roboto+Mono:wght@200&family=Shadows+Into+Light&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&family=Whisper&display=swap');


.header {
  display: flex;
  flex-direction: column;
  font-size: 30px;
}

.header_message {
  font-size: 50px;
  color: azure;
  font-family: "Fredoka One";
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}

.category_form {
  color: white;
  border-color: white;
  margin-top: 15px;
}

input[type="text"] {
  background: black;
  color: #39ff14;
  background: none;
  border: none;
  overflow: none;
  outline: none;
  box-shadow: none;
  padding-bottom: 1em;
  // border-bottom: 3px solid #1EAE98;
  border-bottom: 3px solid #7FFF00
}

input[type="text"]::placeholder {
  text-align: center;
  color: gainsboro;
  font-family: 'Akshar';
  font-size: 20px;
}

.category {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
}

.icon {
  display: flex;
  align-items: center;
}

.icon_button {
  background-color: Transparent;
  // background-repeat:no-repeat;
  border: none;
  // cursor:pointer;
  // overflow: hidden;
  outline: none;
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: #3e00ff;
  font-weight: bolder;
}

.guide {
  display: flex;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 15px;
  font-family: 'shadows into light', cursive;
  font-size: 20px;
  font-weight: bold;
}

.wand {
  font-size: 20px;
  // display: flex;
  // flex-direction: column;
    outline:none;
  display: flex;
  align-items: center;
  // margin-left: 15px;
  color: #B5FFD9;
}
