@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300&family=Bungee&family=Fredoka+One&family=Hubballi&family=Roboto+Mono:wght@200&family=Source+Sans+Pro:ital,wght@0,300;0,600;1,300;1,600&display=swap');


// .bm-menu {
//   background-color: #3c0096;
//   background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
//   padding: 2.5em 1.5em 0;
//   font-size: 1.15em;
// }

// .menu-item {
//   background-color: #007300;
//   background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
// }

// .menu-item:hover {
//   background-color: #c37800;
//   background-image: url("https://www.transparenttextures.com/patterns/black-mamba.png");
// }

.sidebar-icon {
  display: flex;
  flex-direction: row;
  align-self: flex-start;
  margin-left: 1em;
}

.sidebar {
  width: 100%;
}

.sidebar-drawer {
  background-color: #3c0096;
  background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");
  // display: flex;
  // flex-direction: column;
  // // justify-content: center;
}

.username {
  margin-left: 0.8em;
  color: rgb(250, 250, 250);
}

// ListItem:hover {
//   background-color: #960000;
//   background-image: url("https://www.transparenttextures.com/patterns/brushed-alum.png");

// }



.nav-item {
  // background-color: #3c0096;
  color: aliceblue;
}

// .nav-item:hover {
//   background-color: crimson;
// }

.menu_icon {
  color: azure;
}

.other_pages {
  color: white;
  font-family: akshar;
  padding-left: 25px;
  padding-right: 25px;
}

.brand_icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #3c0096;
}